<% include ../partials/header.ejs %>

<link href="/javascripts/select2/select2.css"
      rel="stylesheet"
      type="text/css"/>

<link href="/javascripts/timepicker/bootstrap-datepicker.min.css"
      rel="stylesheet"
      type="text/css"/>

<% include ../partials/navigation.ejs %>

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="/images/chef.png" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown m-t-20">
                    <p><strong>Chef</strong>
                    </p>
                </div>

            </div>
        </div>

        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="/" class="waves-effect">
                        <i class="fa fa-home"></i>
                        <span> Home </span>
                    </a>
                </li>
                <li>
                    <a href="/notifikasis/"
                       class="waves-effect">
                        <i class="fa fa-bell"></i>
                        <span> Notifikasi </span>
                    </a>
                </li>
                <li>
                    <a href="/pembelians/" class="waves-effect active">
                        <i class="fa fa-shopping-cart"></i>
                        <span> Pembelian </span>
                    </a>
                </li>
                <li>
                    <a href="/penyimpanans/" class="waves-effect">
                        <i class="fa fa-archive"></i>
                        <span> Penyimpanan </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="content-page">

    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb pull-left">
                        <li><a href="/">Home</a></li>
                        <li>Daftar Pembelian</li>
                        <li>Detail Pembelian</li>
                        <li>Tambah Bahan Baku</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tambah Bahan Baku</h3>
                        </div>
                        <div class="panel-body">
                            <div class=" form">
                                <form class="cmxform form-horizontal tasi-form"
                                      id="formTambahBahanBaku"
                                      method="POST"
                                      action="/bahanBakus/tambahBahanBaku"
                                      novalidate="novalidate">
                                      <input class=" form-control"
                                             id="idPembelian"
                                             name="idPembelian"
                                             type="hidden"
                                             value="<%- idPembelian%>">
                                    <div class="col-lg-2">
                                        <img src="/images/ingredients.png"
                                             alt=""
                                             class="img-responsive center-block"
                                             height="100px"
                                             width="100px">
                                    </div>
                                    <div class="col-lg-10">
                                      <div class="form-group">
                                          <div class="col-lg-6">
                                              <label for="status1"
                                                     class="control-label">Bahan Baku</label>
                                              <select class=""
                                                      id="bahanBaku"
                                                      name="bahanBaku">

                                                  <% datas.forEach(data=> { %>
                                                    <option value="<%- data.id %>"><%- data.nama %></option>
                                                  <%})%>

                                              </select>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-lg-6">
                                              <label for="jmlBahan"
                                                     class="control-label">Jumlah Bahan <small>(sesuai jumlah takaran yang dibeli : gram / butir / ml)</small> </label>
                                              <input class="form-control"
                                                     id="jmlBahan"
                                                     name="jmlBahan"
                                                     type="text">
                                          </div>
                                      </div>
                                      <div class="form-group ">
                                          <div class="col-lg-6">
                                              <label for="tglKadaluarsa"
                                                     class="control-label">Tanggal Kadaluarsa
                                              </label>

                                              <input type="text"
                                                     class="form-control datepicker1"
                                                     placeholder=""
                                                     id="tglKadaluarsa"
                                                     name="tglKadaluarsa">
                                          </div>
                                      </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <button class="btn btn-primary waves-effect waves-light m-r-10"
                                                        name="submit"
                                                        type="submit"><i class="fa fa-save"></i> Simpan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- .form -->
                        </div> <!-- panel-body -->
                    </div>
                </div>

            </div> <!-- End Row -->

        </div>

    </div>


</div>

<% include ../partials/footer.ejs %>

</div>


<% include ../partials/script.ejs %>

<script src="/javascripts/select2/select2.min.js"></script>
<script src="/javascripts/timepicker/bootstrap-datepicker.js"></script>


<script>
    $(document).ready(function () {
        $('.datepicker1').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#bahanBaku").select2({
            placeholder: "Please Select",
            width: '100%'
        });
    });
</script>

<script>
    $(function(){

        $('#jmlBahan').keypress(function(e) {
            if(isNaN(this.value+""+String.fromCharCode(e.charCode))) return false;
        })
            .on("cut copy paste",function(e){
                e.preventDefault();
            });

    });

</script>



</body>
</html>
