<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Halaman Admin</title>

    <!-- Base Css Files -->
    <link href="/stylesheets/bootstrap.css"
          rel="stylesheet"/>

    <!-- Font Icons -->
    <link href="/javascripts/font-awesome/css/font-awesome.min.css"
          rel="stylesheet"/>
    <link href="/stylesheets/material-design-iconic-font.min.css"
          rel="stylesheet">

    <!-- animate css -->
    <link href="/stylesheets/animate.css"
          rel="stylesheet"/>

    <!-- Waves-effect -->
    <link href="/stylesheets/waves-effect.css"
          rel="stylesheet">

    <!-- Custom Files -->
    <link href="/stylesheets/helper.css"
          rel="stylesheet"
          type="text/css"/>
    <link href="/stylesheets/style.css"
          rel="stylesheet"
          type="text/css"/>

    <link href="javascripts/datatables/jquery.dataTables.min.css"
          rel="stylesheet"
          type="text/css"/>

    <style type="text/css">
        tfoot {
            display: table-header-group;
        }

        tfoot input {
            width: 100%;
        }
    </style>

