<% include ../partials/header.ejs %>

<link href="/javascripts/datatables/jquery.dataTables.min.css"
      rel="stylesheet"
      type="text/css"/>

<% include ../partials/navigation.ejs %>

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="/images/chef.png" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown m-t-20">
                    <p><strong>Chef</strong>
                    </p>
                </div>

            </div>
        </div>

        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="/" class="waves-effect">
                        <i class="fa fa-home"></i>
                        <span> Home </span>
                    </a>
                </li>
                <li>
                    <a href="/notifikasis/"
                       class="waves-effect active">
                        <i class="fa fa-bell"></i>
                        <span> Notifikasi </span>
                    </a>
                </li>
                <li>
                    <a href="/bahanBakus/" class="waves-effect">
                        <i class="fa fa-shopping-cart"></i>
                        <span> Bahan Baku </span>
                    </a>
                </li>
                <li>
                    <a href="/penyimpanans/" class="waves-effect">
                        <i class="fa fa-archive"></i>
                        <span> Penyimpanan </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="content-page">

    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb pull-left">
                        <li><a href="/">Home</a></li>
                        <li><a href="/notifikasis/">Daftar Notifikasi</a></li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Daftar Notifikasi</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive">
                                        <table id="datatable"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Notifikasi</th>
                                                <th>Tanggal</th>
                                            </tr>
                                            </thead>


                                            <tbody>

                                            <tr>
                                                <td>1</td>
                                                <td>Tep Terigu pembelian 10 April 2017 akan
                                                    kadaluarsa 7 hari lagi!</td>
                                                <td>10 April 2017</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- End Row -->

        </div>

    </div>


</div>

<% include ../partials/footer.ejs %>

</div>


<% include ../partials/script.ejs %>

<script src="/javascripts/datatables/jquery.dataTables.js"></script>
<script src="/javascripts/datatables/dataTables.bootstrap.js"></script>

<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
    });

</script>

</body>
</html>

